.travis.yml
__pycache__
check.py
db.sqlite3
docker-compose.yml
jgdc.yml
Dockerfile
setup.cfg
*.dump
*.env
.git
ncdata
frontend/build
frontend/node_modules
.direnv
deploy/
.env
.envrc
.devcontainer
.github
nc/notebooks
venv
