*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
*/settings/local.py
public/static/
public/media/
secrets.sls
traffic_stops.log
traffic_stops.log.1
reports
env
venv
bin
jmeter.log
npm-debug.log
.transifexrc
locale/en/
data/nc/*
_build
*.priv
*.cert
*.key
*.asc
.ipynb_checkpoints
.env
node_modules
*/static/js/bundle.js
*/static/css
secrets.tfvars
*.tfstate*
*.tar
*.tar.zip
mddata/
ncdata/
ildata/
.idea/
coverage/
npm-debug.log
.python-version
env-local.sh
*.dump
*.pgdump
.envrc
.direnv
.vscode
jgdc.yml
aws_ec2.yml
deploy/roles
docker-compose.override.yml
htmlcov
nc/notebooks/**/**.html
nc/notebooks/2023-07-raleigh-contraband/input/Contraband.txt
nc/notebooks/2023-07-raleigh-contraband/input/Contraband.txt.zip
acs*.json
