{% extends "base.html" %}

{% block body_id %}About{% endblock %}

{% block content %}
<div class="about-content container">
    <div class="row-fluid">
        <h2>About this site</h2>
        <p>In the wake of the murders of George Floyd, Breonna Taylor, and countless others whose lives were stripped away far too soon at the hands of law enforcement officers, it is more important than ever that communities have the tools they need to hold law enforcement accountable. As law enforcement officers keep watchful eyes on our communities, we too must observe the actions of law enforcement with vigilance, in an effort to increase transparency and stop the state sponsored killings of Black and Brown people. "The blue wall of silence", and lack of clear reporting and data on officer conduct and misconduct, prevents communities from being able to raise alarms and force accountability when departments and officers engage in discriminatory behavior that all too often turns violent or deadly.</p>
        <p>According to the US Department of Justice, vehicle stops are the number one reason for contact between citizens and police. NC CopWatch aims to provide a platform for North Carolina community members to have access to law enforcement stop, search, and use of force data. The site displays this data in graphs and charts and incorporates features that allow the user to compare the traffic stop data to population data, as well as review traffic stop data for individual departments over time. NC CopWatch was created to serve as a resource to community members, organizers, and advocates across the state of North Carolina seeking transparency and accountability in our statewide policing practices. The site should operate as an advocacy tool for those seeking policy changes in law enforcement practices.</p>
        <p>NC CopWatch presents data collected by the NC State Bureau of Investigation (NC SBI) related to all known traffic stops to have occurred in North Carolina since Jan 01, 2002. Data is available for most North Carolina law enforcement agencies and officers serving populations greater than 10,000. North Carolina law requires all such agencies to report their data on a monthly basis to the NC Department of Justice; however, some datasets are incomplete or remain unreported. Where data sets are incomplete or missing from the website it is because they have not been reported to the NC SBI. NC CopWatch does not have access to, nor does it publish, the names of officers, drivers, or passengers involved in traffic stops.</p>
        <p>NC CopWatch is a project of <a class="about-link" href="https://forwardjustice.org/">Forward Justice</a>. Forward Justice is a nonpartisan law, policy and strategy center dedicated to advancing racial, social, and economic justice in the U.S. South. Our work catalyzes success for social movements and expands opportunities for people affected by injustice.</p>
    </div>
    <div class="row-fluid">
        <h2>Developer documentation</h2>
        <p>
            Documentation, source-code, and the full dataset are available
            <a class="about-link" href="http://nc-traffic-stops.readthedocs.org/">here</a>.
        </p>
    </div>
</div>
{% endblock %}
