{% extends "base.html" %}

{% block body_id %}About{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <h2>About this site</h2>
        <p>
            Traffic Stops is a project of the
            <a href="https://forwardjustice.org/">Forward Justice</a>.
        </p>
    </div>
    <div class="row-fluid">
        <h2>Developer documentation</h2>
        <p>
            Documentation, source-code, and the full dataset are available
            <a href="http://nc-traffic-stops.readthedocs.org/">here</a>.
        </p>
    </div>
</div>
{% endblock %}
