{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}NC CopWatch{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    {% block extra-meta %}{% endblock %}
    {% block extra-css %}{% endblock %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bundle.css' %}?rev={{ REVISION }}">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- modernizr -->
    <script src="{% static 'libs/modernizr.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KP8G946HRG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-KP8G946HRG');
    </script>
</head>
<body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock body_class %}" {% block body_extra %}{% endblock %}>
    <div id='wrap'>
        {% block masthead %}{% endblock masthead %}

        {% block navigation %}
            {% include "includes/navigation.html" %}
        {% endblock navigation %}

        {% block pre-content %}
        {% endblock pre-content %}

        {% block content-outer %}
        <div id="content">
            <div class="row">
                {% block messages-outer %}
                <div id="messages" class="container span12">
                    {% block messages %}
                    {% for msg in messages %}
                        {% include "includes/message.html" with msg=msg %}
                    {% endfor %}
                    {% endblock messages %}
                </div>
                {% endblock messages-outer %}
            </div>
          {% block content %}{% endblock content %}
        </div>
        {% endblock content-outer %}
    </div>
    {% block footer %}
    <div class="black-block affix-offset-bottom" id="footer">
    <div class="brand-lines"></div>
      <div class="container">
        <p class="small credit">NC CopWatch - <a href="https://www.forwardjustice.org"><img class="credit-img" src="{% static 'img/FJ_logo.svg' %}" alt="the Forward Justice logo"></a></p>
      </div>
    </div>
    {% endblock footer %}
    <script src="{% static 'js/bundle.js' %}?rev={{ REVISION }}"></script>
    {% block extra-js %}{% endblock extra-js %}
</body>
</html>
