{% extends "base.html" %}
{% load selectable_tags static %}

{% block body_id %}state{% endblock %}

{% block extra-css %}
    {% include_ui_theme %}
    {{ form.media.css }}
{% endblock %}

{% block extra-js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>
{{ form.media.js }}
<script type="text/javascript">
  $(document).ready(function() {
    var quick_search = $('#agency_search :input[name=agency_0]');
    quick_search.bind('djselectableselect', function(event, ui) {
        $(this).parents("form").submit();
    });
  });
</script>

{% endblock %}

{% block content-outer %}

<div class="state-banner">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-sm-2 title-logo-wrapper">
        <img class="title-logo" src="{% static "img/FJ_icon.png" %}" alt="forward justice icon">
      </div>
      <div class="col-sm-10">
        <h1 class="title-container">{% block state-name %}{% endblock state-name %}</h1>
        <p>
          {% block state-subtitle %}
          {% endblock state-subtitle %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="agency-dashboard-block">
  {% comment %} <div class="container"> {% endcomment %}
    {% comment %} <div class="row"> {% endcomment %}
      <div class="black-block">
        <div class="container ">
          {% block about-text %}
          {% endblock about-text %}
          <div class="container">
            <h4>Dataset Facts</h4>
            {% block dataset-facts %}
            {% endblock dataset-facts %}
          </div>
        </div>
      </div>

      <div class="brand-lines"></div>

      <div class="" id="explore-data" data-toggle="tabslet">
        <div class="container">
          {% block state-tabs %}
            <ul class="nav nav-tabs" data-role="tablist">
              <li role="presentation" class="active">
                <a href="#agencies" aria-controls="agencies" role="tab" data-toggle="tab"><h4 class="active">Agencies</h4></a>
              </li>
              <li role="presentation">
                <a href="#find-a-stop" aria-controls="find-a-stop" role="tab" data-toggle="tab"><h4>Find a Stop</h4></a>
              </li>
            </ul>
          {% endblock state-tabs %}

          <div class="tab-content">
            <div class="tab-pane container active" id="agencies" role="tabpanel">
              {% block agency-intro %}
              {% endblock agency-intro %}

              <div class="container">
                {% block search-form %}
                  <h4>View Agency Dashboard</h4>
                  <form role="form" id="agency_search" action='{% url "nc-home" %}' method="get" accept-charset="utf-8">
                      <div class="form-group">
                      {% csrf_token %}
                      <div class="input-group">
                        {{ form.agency }}
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="button">View</button>
                        </span>
                      </div><!-- /input-group -->
                      {% if form.agency.errors %}
                          <div class="alert alert-warning alert-dismissible">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <ul>
                              {% for error in form.agency.errors %}
                                  <li><strong>{{ error }}</strong></li>
                              {% endfor %}
                              </ul>
                          </div>
                      {% endif %}
                      </div>
                  </form>
                {% endblock search-form %}
              </div>
              <div class="container">
                <h4>Largest Agencies</h4>
                {% block agencies-table %}
                {% endblock agencies-table %}
              </div>
            </div>
            <div class="tab-pane container" id="find-a-stop" role="tabpanel">
              {% block find-a-stop %}
              {% endblock find-a-stop %}
            </div>
          </div>
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
  {% comment %} </div> {% endcomment %}
</div>

{% endblock %}
